.nav-size {
  font-size: 12px;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .nav-size {
    font-size: 14px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .nav-size {
    font-size: 18px;
  }
}

@media screen and (min-width: 2561px) {
  .nav-size {
    font-size: 20px;
  }
}
