@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

