:root {
    --DarkViolet: #4A0959;
    --gardiantDarkViolet: linear-gradient(90deg, #4A0959 0%, #9D55AE 100%);
    --light-lavender: #e9e2eb;
    --bs-gutter-x: .10rem;
    --font-white: #fff;
    --font-18: 18px;
    --rich-purple: #6e3a7a;
    --deep-violet: #4f105c;
    --card: oklch(100% 0 0);
    --rich-purple: #6e3a7a;

    --tw-border-style {
        syntax: "*";
        inherits: false;
        initial-value: initial;
    }
}

.border-b {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
}

.secondheader {
    background-color: var(--light-lavender);
}



.halfcircle-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    background-color: var(--light-lavender);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index: -1;
}

.card-img {
    width: 100%;
    height: 90px;
    overflow: hidden;
}


/* Button Styles */

.bauinfo {
    background: var(--gardiantDarkViolet);
    color: white;
    border: 1px solid;

}

.registerbutton {
    background: var(--gardiantDarkViolet);
    color: white;
    border: 1px solid;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
}

.registerbutton:hover {
    background: #e9e2eb;
    color: var(--DarkViolet);
    border-color: var(--DarkViolet);
}

.bg-gardiantDarkViolet {
    background-image: var(--gardiantDarkViolet);
}

.seekbutton {
    background: var(--gardiantDarkViolet);
    color: white;
    border: 1px solid;
    transition: all 0.3s ease;


}

.learnmorebutton {
    background: var(--gardiantDarkViolet);
    color: white;
    border: 1px solid;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
}

.seekbutton:hover,
.learnmorebutton:hover {
    background: white;
    color: var(--DarkViolet);
    border-color: var(--DarkViolet);
}

.Immediatetext {
    color: var(--DarkViolet);
}

.imagesection {
    background-color: var(--light-lavender);
}

.usebaubutton,
.subscribebutton {
    background-color: white;
    color: var(--DarkViolet);
    border: 1px solid;
    transition: all 0.3s ease;
    size: 14px;
}

.usebaubutton:hover,
.subscribebutton:hover {
    background: var(--gardiantDarkViolet);
    color: white;
    border-color: white;

}

.bg-rich-purple {
    background-color: var(--rich-purple);
}

.right-part-photo-section {
    background: linear-gradient(90deg, #511f5c 0%, #a568b3 100%);
}


.my-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

@media (min-width: 576px) {
    .my-container {
        max-width: 700px;
    }
}

@media (min-width: 768px) {
    .my-container {
        max-width: 900px;
    }
}

@media (min-width: 992px) {
    .my-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .my-container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .my-container {
        max-width: 1350px;
    }
}



/*Main nav padding*/
@media (max-width: 800px) {
    .header-1 {
        align-items: center;
        padding: 8px 5px !important;
    }
}

@media (max-width: 900px) {
    .header-1 {
        align-items: center;
        padding: 10px 6px !important;
    }
}

@media (max-width: 1000px) {
    .header-1 {
        align-items: center;
        padding: 10px 6px !important;
    }
}

@media (max-width: 1100px) {
    .header-1 {
        align-items: center;
        padding: 10px 6px !important;
    }
}

@media (max-width: 1200px) {
    .header-1 {
        align-items: center;
        padding: 12px 10px !important;
    }
}

@media (max-width: 1300px) {
    .header-1 {
        align-items: center;
        padding: 15px 10px !important;
    }
}

@media (max-width: 1400px) {
    .header-1 {
        align-items: center;
        padding: 15px 10px !important;
    }
}

@media (max-width: 1500px) {
    .header-1 {
        align-items: center;
        padding: 14px 10px !important;
    }
}

@media (max-width: 1600px) {
    .header-1 {
        align-items: center;
        padding: 15px 10px !important;
    }
}

@media (max-width: 1700px) {
    .header-1 {
        align-items: center;
        padding: 15px 10px !important;
    }
}

@media (max-width: 1800px) {
    .header-1 {
        align-items: center;
        padding: 15px 10px !important;
    }
}

/*main and sec nav text size*/
.active {
    background-image: var(--gardiantDarkViolet);
}

.active .nav-link,
.nav-link,
.nav-link-2 {
    font-size: var(--font-18);
    line-height: normal;
}

@media (max-width: 900px) {

    .nav-link,
    .nav-link-2 {
        font-size: 8px;
    }
}

@media (max-width: 1000px) {

    .nav-link,
    .nav-link-2 {
        font-size: 8px;
    }
}

@media (max-width: 1100px) {

    .nav-link,
    .nav-link-2 {
        font-size: 8px;
    }
}

@media (max-width: 1200px) {

    .nav-link,
    .nav-link-2 {
        font-size: 8px;
    }
}

@media (max-width: 1300px) {

    .nav-link,
    .nav-link-2 {
        font-size: 10px;
    }
}

@media (max-width: 1400px) {

    .nav-link,
    .nav-link-2 {
        font-size: 12px !important;
    }
}

@media (max-width: 1500px) {

    .nav-link,
    .nav-link-2 {
        font-size: 12px !important;
    }
}

@media (max-width: 1600px) {

    .nav-link,
    .nav-link-2 {
        font-size: 14px;
    }
}



.nav-link,
.nav-link-2 {
    font-style: normal;
}

/* Feature Cards Section */
.card-img {
    width: 100%;
    height: 90px;
    overflow: hidden;
}

.card-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.brand-box {
    width: 100%;
    height: 116px;
    transition: all 0.3s ease-in-out;
}

.brand-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.brand-box img {
    display: block;
    margin: 0 auto;
}


.brand-section {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.border-set {
    border: .25px solid #61286c;
}

.bg-deep-violet {
    background-color: var(--deep-violet);
}

.cursor-pointer {
    cursor: pointer;
}

.bg-card {
    background-color: var(--card);
}

.footerp {
    font-weight: 300;
}

.halfcircle-bg-img {
    background-image: url(https://bau24dev.de/info/_next/static/media/bg-img.e90f5d76.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -2px;
}

.bg-rich-purple {
    background-color: var(--rich-purple);
}